html {
  background: gainsboro;
}

body {
  background-color: #f7fbfc;
  color: #212121;
  margin: auto;
  max-width: 75rem;
  padding: 1px;
  min-height: 100vh;
  box-sizing: border-box;
}

header, main, footer {
  margin: 1.5rem;
}

input[type="file"] {
  display: none;
}

p {
  margin: 0;
}

.material-icons {
  vertical-align: bottom;
}

.drop-space {
  display: inline-block;
  min-height: 10em;
  width: 100%;
  background-color: #d6e6f2;
  text-align: center;
  padding: 0.5rem 0;
}

.drop-space * {
  margin: 0;
  font-size: 2rem;
}

.browse-btn {
  display: inline-block;
  background-color: #769fcd;
  color: #f7fbfc;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
}

.browse-btn:hover {
  filter: brightness(90%);
}

.result-list {
  width: 100%;
}

.result-ctrl {
  text-align: center;
}

.result-list tr:nth-of-type(2n){
  background-color: #b9d7ea;
}

.result-list tr:nth-of-type(2n+1) {
  background-color: #769fcd;
  color: #f7fbfc;
}